<!-- ENGAGEMENT HEALTH (DONUT) -->
<!-- -->
<script>
var data03 = {
      labels: ["FY-19", "FY-20", "Jan-19", "Feb-19", "Mar-19","Apr-19", "May-19"],
      datasets: [{
      type: 'bar',
      label: 'Digital',
      data: [71,84,75,73,70,89,79],
      backgroundColor: 'deepskyblue',
      fill: false
    }, {
      type: 'bar',
      label: 'Traditional',
      backgroundColor: "greenyellow",
      data: [57,87,65,58,59,87,86],
    }, {
      type: 'bar',
      label: 'Industry & BPS',
      backgroundColor: "silver",
      data: [15,37,22,27,25,36,37],
          }, {
      type: 'bar',
      label: 'No Info',
      backgroundColor: "slateblue",
      data: [1,1,2,1,1,1,1]
        }]
    }
var options03 = {
      legend: { display: false },
      title: {
        display: true,
        text: 'Traditional - Digital Portfolio'},
      scales: {
    		xAxes: [{ stacked: true }],
    		yAxes: [{ stacked: true }]
  		},
    	tooltips : {
    		callbacks : {
        label : function(tooltipItem, data) {
            return data.datasets[tooltipItem.datasetIndex].label + ': ' + tooltipItem.yLabel;
        },
        afterLabel: function(tooltipItem, data){
            var total = 0;
            for (i = 0; i < data.datasets.length; i++) {
              total += data.datasets[i].data[tooltipItem.datasetIndex];
              }
            var percentage = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] / total * 100;
            var percentage = percentage.toFixed(2); // Trim decimal part
            return percentage + '%';
        },
      }
    }
  }

var data04 = {
      labels: ["Digital", "Traditional", "Industry & BPS", "No Info"],
      datasets: [
        {
          label: "Latest Trends",
          backgroundColor: ["deepskyblue", "greenyellow","silver","slateblue"],
          data: [79,86,37,1]
        }
      ]
    }

var options04 = {
      responsive: true,
      legend: {
      position: 'bottom',
      labels: {
              boxWidth: 20,
              fontSize: 10,
          }
      },
      title: {
        display: true,
        text: 'Latest Data'
      },
      tooltips: {
      callbacks: {
        title: function(tooltipItem, data) {
          return data['labels'][tooltipItem[0]['index']];
        },
        label: function(tooltipItem, data) {
          return data['datasets'][0]['data'][tooltipItem['index']];
        },
        afterLabel: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
            return previousValue + currentValue;
          });
          var currentValue = dataset.data[tooltipItem.index];
          var precentage = Math.floor(((currentValue/total) * 100)+0.5);
          return precentage + "%";
        }
      }
    },
    }

new Chart(document.getElementById("charts-003"), {
  type: 'bar',
  data: data03,
  options: options03,
})

new Chart(document.getElementById("charts-004"), {
  type: 'doughnut',
  data: data04,
  options: options04,
})
</script>