<!-- https://codepen.io/ionrivera/pen/gOYGYBR -->
<script>
      var data07 = {
      labels: ["FY19 Q3", "FY19 Q1", "FY20 Q3"],
      datasets: [{
      label: 'NPS',
      type: 'line',
      lineTension: 0,
      yAxisID: 'A',
      borderColor: 'greenyellow',
      backgroundColor: 'greenyellow',
      fill: false,
      data: [.631,.5,.384]},
      {
      label: '# of Respondents',
      type: 'bar',
      yAxisID: 'B',
      borderColor: "dodgerblue",
      backgroundColor: "dodgerblue",
      data: [19,6,13],
      }]
    }
  var options07 = {
      legend: {
      display: true,
      position: 'bottom',
      labels: {
              boxWidth: 20,
              fontSize: 10,
          }
      },
      title: {
        display: true,
        text: 'ASAT / aNPS'},
      scales: {
    		xAxes: [{ stacked: true }],
    		yAxes: [{
        		id: "A",
            position: "left",
            gridLines: {
               display:false
            },
            ticks: {
                stepSize: .2,
                min: 0,
                max: 0.8,
                },
						scaleLabel: { display: true },},
            {
        		id: 'B',
        		type: 'linear',
        		position: 'right',
        		ticks: {
          	max: 20,
          	min: 0
        		}
        }]
  		},
    }
      var data08 = {
      labels: ["JAS 2018", "OND 2018", "JFM 2019"],
      datasets: [{
      label: 'SOBR Score',
      type: 'line',
      lineTension: 0,
      borderColor: 'greenyellow',
      backgroundColor: 'greenyellow',
      fill: false,
      data: [5.36, 5.57,5.54]},
      ]
    }

  var options08 = {
      legend: {
      display: true,
      position: 'bottom',
      labels: {
              boxWidth: 20,
              fontSize: 10,
          }
      },
      title: {
        display: true,
        text: 'SOBR'},
      scales: {
    		xAxes: [{ stacked: true }],
    		yAxes: [{
            position: "left",
            ticks: {
                stepSize: 1,
                min: 0,
                max: 7,
                },
			},
          ]
  		},
    }

  new Chart(document.getElementById("charts-007"), {
    type: 'bar',
   data: data07,
  options: options07
  })
  new Chart(document.getElementById("charts-008"), {
  type: 'line',
  data: data08,
  options: options08
});
</script>