<script>
      var data12 = {
      labels: ["FY-19", "FY-20",, "Jan-19", "Feb-19", "Mar-19","Apr-19", "May-19"],
      datasets: [{
      label: '% SLA Compliance w/o Penalties',
      type: 'line',
      lineTension: 0,
      yAxisID: 'A',
      borderColor: 'greenyellow',
      backgroundColor: 'greenyellow',
      fill: false,
      data: [95.4,95.1,{},97.1,97,96.2,96.5,93.6]},
      {
      label: 'Target 95%',
      type: 'line',
      lineTension: 0,
      yAxisID: 'A',
      borderColor: 'greenyellow',
      backgroundColor: 'white',
      borderDash: [5,5],
      borderWidth: 1.5,
      pointStyle: 'line',
      fill: false,
      data: [95,95,95,95,95,95,95,95]},
      {
      label: '# of SLA w/o Penalties',
      type: 'bar',
      yAxisID: 'B',
      backgroundColor: "dodgerblue",
      data: [69,82,{},69,59,80,80,83],
      }]
    };
  var options12 = {
      legend: {
        display: true,
        position: 'bottom',
        labels: {
              boxWidth: 20,
              fontSize: 10,
          }
       },
      title: {
        display: true,
        text: 'SLA Compliance w/o Penalties'},
      scales: {
    		xAxes: [{ stacked: true }],
    		yAxes: [{
        		id: "A",
            position: "left",
            gridLines: {
            display:false
            },
            ticks: {
                stepSize: 10,
                min: 90,
                max: 100,
                callback: function(value){return value+ "%"}
             },
						scaleLabel: { display: true },},
            {
        	id: 'B',
        	type: 'linear',
        	position: 'right',
        		ticks: {
            stepSize: 10,
          	max: 90,
          	min: 0
        		}
        }]
  		},
    }

  new Chart(document.getElementById("charts-012"), {
    type: 'bar',
   data: data12,
  options: options12
});
</script>