{% extends 'dashboard/base.html' %}
{% block content %}
<div class="row"> <!-- ROW BODY CONTENT --->
    <section class="content">
        <section class="box box-solid box-default"><!-- Full Row (01) -->
        <div class="box-header with-border">
          <h3 class="box-title">Engagement Health</h3><a name="charts-001"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-7">
                <div class="chart-responsive">
                    <canvas id="charts-001" height="150"></canvas>
                </div>
            </div>
            <br>
            <div class="col-md-5">
                <div class="chart-responsive">
                    <canvas id="charts-002" height="200"></canvas>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**APPs and ITO</small>
        </div><!-- box-footer -->
        </section><!-- chart001 chart002 EHI Trends -->
        <section class="box box-solid box-default"><!-- Full Row (02) -->
        <div class="box-header with-border">
          <h3 class="box-title">Engagement Health</h3><a name="charts-003"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-7">
                <div class="chart-responsive">
                    <canvas id="charts-003" height="150"></canvas>
                </div>
            </div>
            <br>
            <div class="col-md-5">
                <div class="chart-responsive">
                    <canvas id="charts-004" height="200"></canvas>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**APPs and ITO</small>
        </div><!-- box-footer -->
        </section><!-- chart003 chart004 Traditional Digital Portfolio -->

    <div class="row">
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Financials</h3><a name="charts-005"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="chart-responsive">
               <canvas id="charts-005" height="150"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**APPs and ITO &nbsp;&nbsp;&nbsp; **(-) % Cost Variance  is  desirable</small>
        </div><!-- box-footer -->
        </div><!-- /.box -->
        </section><!-- chart005 Cost Variance -->
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Financials</h3><a name="charts-006"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="chart-responsive">
              <canvas id="charts-006" height="150"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**APPs and ITO</small>
        </div><!-- box-footer -->
        </div><!-- end box-solid box-default -->
        </section><!-- chart006 EM Variance -->
    </div><!-- end row mini charts -->

     <div class="row">
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Satisfaction Ratings</h3><a name="charts-007"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="chart-responsive">
              <canvas id="charts-007" height="150"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**P&G Engagements Only</small>
        </div><!-- box-footer -->
        </div><!-- /.box -->
        </section><!-- chart007 ASAT / aNPS -->
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Satisfaction Ratings</h3><a name="charts-008"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="chart-responsive">
              <canvas id="charts-008" height="150"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**P&G Engagements Only</small>
        </div><!-- box-footer -->
        </div><!-- end box-solid box-default -->
        </section><!-- chart008 SOBR -->
     </div><!-- end row mini charts -->

     <div class="row">
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Satisfaction Ratings</h3><a name="charts-009"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="chart-responsive">
              <canvas id="charts-009" height="230"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**P&G Engagements Only</small>
        </div><!-- box-footer -->
        </div><!-- end box-solid box-default -->
        </section><!-- chart009 Scores per Category -->
        <section class="col-lg-6 connectedSortable">
        <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Satisfaction Ratings</h3><a name="charts-010"></a>
          <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="chart-responsive">
              <canvas id="charts-010" height="230"></canvas>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small class="text-muted">**P&G Engagements Only</small>
        </div><!-- box-footer -->
        </div><!-- end box-solid box-default -->
        </section><!-- chart010 CSAT -->
     </div><!-- end row mini charts -->

    </section> <!-- END SECTION BODY CONTENT> -->
</div> <!-- END ROW BODY CONTENT  -->

        {% include 'dashboard/charts/001.html' %}
        {% include 'dashboard/charts/002.html' %}
        {% include 'dashboard/charts/005.html' %}
        {% include 'dashboard/charts/006.html' %}
        {% include 'dashboard/charts/007.html' %}
        {% include 'dashboard/charts/009.html' %}
        {% include 'dashboard/charts/010.html' %}
{% endblock content %}
